{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>{{ 'Access.denied.message' | trans }}
            <a href="{{ path('homepage') }}">{{ 'Back.to.homepage' | trans }}</a>
        </p>
    </div>
{% endblock %}